.button_main {
  cursor: pointer;
  width: 100%;
  height: 2.875rem;
  border-radius: 0.625rem;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #fff;
}

.primary {
  background: rgb(0, 159, 242);
  border: none;
}

.secondary {
  border: 1px solid #fff;
  background: none;
}
