.menu_button_container {
  display: none;
  width: 2rem;
  height: 2rem;
}

@media all and (max-width: 850px) {
  .menu_button_container {
    cursor: pointer;
    display: block;
  }

  .menu_button_container > img {
    width: 2rem;
    height: 2rem;
  }
}
