.header__registration__buttons {
  display: flex;
  gap: 12px;
}

.header__registration__buttons > button {
  cursor: pointer;
  width: 100px;
  height: 46px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.header__registration__buttons > button:first-of-type {
  border: 1px solid #fff;
  background: none;
}

.header__registration__buttons > button:last-of-type {
  background: rgb(0, 159, 242);
  border: none;
}
