.information_container {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 600px) {
  .information_container {
    flex-direction: column;
  }

  .information_container > div {
    margin: 0 auto;
  }

  .information_container > div:first-child {
    width: fit-content;
    margin-bottom: 1rem;
  }
}
