.container {
  min-height: 100%;
}

.background_container {
  background-image: url('../assets/images/context/background-discover.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  width: 100%;
}

.blur_container {
  position: relative;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
}
