.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.188rem;
}

.input {
  height: 2.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #262626;
  border-radius: 0.5rem;
  background: #141414;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.188rem;
  color: #fff;
}

.input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.188rem;
  color: #999999;
}
